#taskList li.rounded-0 {
    cursor: grab;
}

#taskList li.task-status-in-progress .task-title {
    color: chocolate;
    font-weight: bold;
}

.col-title {
    min-width: 0;
}

.col-status {
    width: 140px;
}

.col-actions {
    width: 160px;
}

.status-select {
    width: auto;
}

.edit-btn,
.save-btn {
    width: 60px;
}

.edit-title-input {
    max-width: 90%;
    display: inline-block;
}